<footer id="ubc7-footer">
  <div id="ubc7-unit-footer" class="expand">
    <div class="container">
      <div class="row-fluid">
        <div class="span10" id="ubc7-unit-address">
          <div id="ubc7-address-unit-name">{{ site.data.site.title }}</div>
          <div id="ubc7-address-campus">Vancouver Campus</div>
          {% for line in site.data.site.address_lines %}
            <div>{{ line }}</div>
          {% endfor %}
          <div>Tel {{ site.data.site.contact_phone }}</div>
          <div>Email <a href="mailto:{{ site.data.site.contact_email }}">{{ site.data.site.contact_email }}</a></div>
        </div>
        <div class="span2" id="ubc7-back-to-top">
          <a href="#ubc7-header">Back to top</a>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="ubc7-unit-footer-meta">
          <span>{{ site.data.site.organization }}</span>
          <span>&copy; <span data-year></span> {{ site.data.site.copyright_label }}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="ubc7-global-footer" class="expand">
    <div class="container">
      <div class="row-fluid">
        <div class="span5" id="ubc7-signature">
          <a href="https://www.ubc.ca/" title="The University of British Columbia">The University of British Columbia</a>
        </div>
        <div class="span7" id="ubc7-footer-menu">
          <ul aria-label="University links">
            <li><a href="https://cdn.ubc.ca/clf/ref/emergency.html">Emergency Procedures</a></li>
            <li><a href="https://cdn.ubc.ca/clf/ref/terms.html">Terms of Use</a></li>
            <li><a href="https://cdn.ubc.ca/clf/ref/copyright.html">Copyright</a></li>
            <li><a href="https://cdn.ubc.ca/clf/ref/accessibility.html">Accessibility</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
