<footer id="ubc7-footer">
  <div id="ubc7-unit-footer">
    <div class="wrap ubc7-unit-footer-row">
      <div id="ubc7-unit-address">
        <div id="ubc7-address-unit-name">{{ site.data.site.title }}</div>
        <div id="ubc7-address-campus">Vancouver Campus</div>
        {% for line in site.data.site.address_lines %}
          <div>{{ line }}</div>
        {% endfor %}
        <div>Tel {{ site.data.site.contact_phone }}</div>
        <div>Email <a href="mailto:{{ site.data.site.contact_email }}">{{ site.data.site.contact_email }}</a></div>
      </div>
      <div class="ubc7-footer-meta">
        <div class="ubc7-footer-meta-title">{{ site.data.site.organization }}</div>
        <div>&copy; <span data-year></span> {{ site.data.site.copyright_label }}</div>
        <a href="#ubc7-header">Back to top</a>
      </div>
    </div>
    <div class="wrap ubc7-footer-nav-row" aria-label="Reference site links">
      <div class="ubc7-footer-nav-group">
        <div class="ubc7-footer-nav-title">Home</div>
        <ul class="ubc7-footer-nav-list">
          <li><a href="https://flow.ubc.ca/">Home</a></li>
          <li><a href="https://flow.ubc.ca/billing-details/">Billing details</a></li>
          <li><a href="https://flow.ubc.ca/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="ubc7-footer-nav-group">
        <div class="ubc7-footer-nav-title">Services</div>
        <ul class="ubc7-footer-nav-list">
          <li><a href="https://flow.ubc.ca/about/">Services</a></li>
          <li><a href="https://flow.ubc.ca/flow-cytometry-slides/">Flow Cytometry Slides:</a></li>
          <li><a href="https://flow.ubc.ca/grant-review-of-flow-cytometry-data/">Grant Review of Flow Cytometry Data</a></li>
          <li><a href="https://flow.ubc.ca/ubcflow-biosafety/">ubcFLOW Biosafety</a></li>
          <li><a href="https://flow.ubc.ca/introduction-to-flow-cytometry/">Introduction to Flow Cytometry</a></li>
          <li><a href="https://flow.ubc.ca/5-day-flow-course-november-13th-to-17th/">2025 Four Day Flow Course 30th September to 3rd October</a></li>
          <li><a href="https://secure.touchnet.net/C20435_ustores/web/store_main.jsp?SINGLESTORE=true&amp;STOREID=156">Course Registration and Payment</a></li>
        </ul>
      </div>
      <div class="ubc7-footer-nav-group">
        <div class="ubc7-footer-nav-title">Instruments</div>
        <ul class="ubc7-footer-nav-list">
          <li><a href="https://flow.ubc.ca/instruments/">Instruments</a></li>
          <li><a href="https://flow.ubc.ca/astrios-cell-sorter/">Astrios Cell Sorter</a></li>
          <li><a href="https://flow.ubc.ca/bd-aria-cell-sorter/">BD Aria Cell Sorter</a></li>
          <li><a href="https://flow.ubc.ca/bd-influx-cell-sorter/">BD Influx Cell Sorter</a></li>
          <li><a href="https://flow.ubc.ca/cytek-aurora-cell-sorter/">Cytek Aurora Cell Sorter</a></li>
          <li><a href="https://flow.ubc.ca/cytoflex-analyser/">Cytoflex Analyser</a></li>
          <li><a href="https://flow.ubc.ca/cytek-northern-light-analyser/">Cytek Northern Light Analyser</a></li>
          <li><a href="https://flow.ubc.ca/thermo-attune-analyser/">Thermo Attune Analyser</a></li>
          <li><a href="https://flow.ubc.ca/cytek-aurora-analyser/">Cytek Aurora Analyser</a></li>
          <li><a href="https://flow.ubc.ca/bd-lsrii-analyser/">BD LSRII Analyser</a></li>
        </ul>
      </div>
      <div class="ubc7-footer-nav-group">
        <div class="ubc7-footer-nav-title">More</div>
        <ul class="ubc7-footer-nav-list">
          <li><a href="https://flow.ubc.ca/scheduling-time/">Scheduling time</a></li>
          <li><a href="https://flow.ubc.ca/specialized-applications/">Specialized applications</a></li>
          <li><a href="https://flow.ubc.ca/large-cell-sorting/">Large Cell Sorting</a></li>
          <li><a href="https://flow.ubc.ca/small-particle-sorting/">Small Particle Sorting</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="ubc7-global-footer">
    <div class="wrap ubc7-global-footer-row">
      <a class="ubc7-global-footer-brand" href="https://www.ubc.ca/">The University of British Columbia</a>
      <ul class="ubc7-footer-links" aria-label="University links">
        <li><a href="https://cdn.ubc.ca/clf/ref/emergency.html">Emergency Procedures</a></li>
        <li><a href="https://cdn.ubc.ca/clf/ref/terms.html">Terms of Use</a></li>
        <li><a href="https://cdn.ubc.ca/clf/ref/copyright.html">Copyright</a></li>
        <li><a href="https://cdn.ubc.ca/clf/ref/accessibility.html">Accessibility</a></li>
      </ul>
    </div>
  </div>
</footer>
