<div class="collapse expand" id="ubc7-global-menu">
  <div id="ubc7-search" class="expand">
    <div id="ubc7-search-box">
      <form class="form-search" method="get" action="https://www.ubc.ca/search/refine/" role="search">
        <input type="text" name="q" placeholder="Search this website" aria-label="Search this website" class="input-xlarge search-query" />
        <input type="hidden" name="label" value="{{ site.data.site.short_title }}" />
        <input type="hidden" name="site" value="*.ubc.ca" />
        <button type="submit" class="btn">Search</button>
      </form>
    </div>
  </div>
  <div id="ubc7-global-header" class="expand"></div>
</div>

<header id="ubc7-header" class="row-fluid expand">
  <div class="span1">
    <div id="ubc7-logo" aria-label="university logo" role="navigation">
      <a href="https://www.ubc.ca/" title="The University of British Columbia (UBC)">The University of British Columbia</a>
    </div>
  </div>
  <div class="span11" id="ubc7-wordmark-block">
    <div id="ubc7-wordmark" aria-label="wordmark">
      <a href="https://www.ubc.ca/" title="The University of British Columbia (UBC)">The University of British Columbia</a>
      <span class="ubc7-campus" id="ubc7-vancouver-campus">{{ site.data.site.campus | default: "Vancouver campus" }}</span>
    </div>
    <div id="ubc7-global-utility">
      <button type="button" data-toggle="collapse" data-target="#ubc7-global-menu" aria-label="search trigger">
        <span>UBC Search</span>
      </button>
      <noscript><a id="ubc7-global-utility-no-script" href="https://www.ubc.ca/search/" title="UBC Search">UBC Search</a></noscript>
    </div>
  </div>
</header>

<div id="ubc7-unit" class="row-fluid expand">
  <div class="span12">
    <div class="navbar">
      <a class="btn btn-navbar" data-toggle="collapse" data-target="#ubc7-unit-navigation" aria-label="Open site menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div id="ubc7-unit-name">
      <a href="{{ '/' | relative_url }}" title="{{ site.data.site.title }}">
        <span id="ubc7-unit-faculty">{{ site.data.site.faculty }}</span>
        <span id="ubc7-unit-identifier">{{ site.data.site.unit_identifier }}</span>
      </a>
    </div>
  </div>
</div>

<div id="ubc7-unit-menu" class="navbar expand" role="navigation" aria-label="Primary">
  <div class="navbar-inner expand">
    <div class="container">
      <div class="nav-collapse collapse" id="ubc7-unit-navigation">
        <ul class="nav">
          {% for item in site.data.navigation.primary %}
            <li{% if page.url == item.url %} class="active"{% endif %}>
              <a href="{{ item.url | relative_url }}"{% if page.url == item.url %} aria-current="page"{% endif %} title="{{ item.title }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
